<section [ngSwitch]="step">
    <ng-container *ngSwitchCase="1">
        <div class="container step1" >
          <div class="header">
          </div>
          <div class="content">
            <div class="title">Online Banking Setup: Step 1</div>
            <div class="steps">
              <div class="step done">Identification Information</div>
              <div class="step">Personal Information</div>
              <div class="step">Security Settings</div>
              <div class="step">Terms and Conditions</div>
              <div class="step">Review</div>
            </div>
            <div class="image"><img src="assets/images/OnlineBanking.jpg" width=100% height=200px alt="Image"></div>
            <form  #formDataPre="ngForm">
              <div class="table">Enter Identification Information</div>
              <div class="form">
                <div *ngIf="error" style="color:red;">{{error}}</div>
                <div class="number">1. Email Address<span class="star">*</span></div>
                <input class="input" type="text" name="email"  size="24" maxlength="24" required [(ngModel)]="email">



                      <div class="number">2. PIN Code<span class="star">*</span></div>
                      <input class="input" type="text" name="pin"  size="24" maxlength="24" required [(ngModel)]="pin">
                      <div class="usernotify">We will send you an email containing the PIN code after you successfully open an account in our physical branch. </div>



                <div class="continue">
                  <table class="buttons">
                    <tr>
                      <td>
                        <button class="continue-button" type="button"  (click)="checkRegistrationStatus()">Continue</button><br>
                      </td>
                      <td class="string">|</td>
                      <td class="cancel">Cancel</td>
                  </table>
                </div>

              </div>
            </form>
          </div>
        </div>
      </ng-container>


  <ng-container *ngSwitchCase="2">
    <div class="container step1" >
      <div class="header">
      </div>
      <div class="content">
        <div class="title">Online Banking Setup: Step 1</div>
        <div class="steps">
          <div class="step done">Personal Information</div>
          <div class="step">Security Questions</div>
          <div class="step">Terms and Conditions</div>
          <div class="step">Review</div>
        </div>
        <div class="image"><img src="assets/images/enrollimage1.jpg" width=100% height=200px alt="Image"></div>
        <div class="table">Enter Identification Information</div>
        <form  #formData="ngForm">
          <div class="form">
            <div class="number">1. First Name<span class="star">*</span></div>
            <input class="input" type="text" name="first_name"  size="24" maxlength="24" required [(ngModel)]="user.first_name" name="email"  #firstName="ngModel">
            <!--<div *ngIf="user.first_name.invalid && (user.first_name.dirty || user.first_name.touched)" class="alert">-->
              <!--<div *ngIf="user.first_name.errors.required">First name is required.</div>-->
              <!--<div *ngIf="user.first_name.errors.pattern">Please fill in according to name format.</div>-->
              <!--<div *ngIf="user.first_name.errors.forbiddenName">First name already exists, please sign in.</div>-->
            <!--</div>-->



                  <div class="number">2. Middle Name<span class="star">*</span></div>
                  <input class="input" type="text" name="name"  size="24" maxlength="24" required  [(ngModel)]="user.middle_name"
                         #name="ngModel">
                  <div class="usernotify">Your middle name </div>
                  <!--<div *ngIf="user.middle_name.invalid && (user.middle_name.dirty || user.middle_name.touched)" class="alert">-->
                    <!--&lt;!&ndash;<div *ngIf="user.middle_name.errors.required">Full name is required.</div>&ndash;&gt;-->

                  <!--</div>-->
                  <div class="number">3. LastName<span class="star">*</span></div>
                  <input class="input" type="text" name="name"  size="24" maxlength="24" required  [(ngModel)]="user.last_name"
                         #name="ngModel">
                  <div class="usernotify">Your last name </div>
                  <!--<div *ngIf="user.last_name.invalid && (user.last_name.dirty || user.last_name.touched)" class="alert">-->
                    <!--<div *ngIf="user.last_name.errors.required">Last name is required.</div>-->

                  <!--</div>-->
                  <div class="number">4. Phone Number<span class="star">*</span></div>

                  <input class="input" type="text" name="phone"  size="38" minlength="0" maxlength="14" required pattern="[0-9]{0,14}" [(ngModel)]="user.primary_phone_number" #phone="ngModel">
                  <!--<div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert">-->
                    <!--<div *ngIf="phone.errors.required">Phone number is required.</div>-->
                    <!--<div *ngIf="phone.errors.pattern">Phone number should not contain alphabets.</div>-->
                  <!--</div>-->


            <div class="number">5. Home Address 1<span class="star">*</span></div>
            <input class="input" type="text" name="homeone"  size="38" maxlength="38" required [(ngModel)]="user.home_address_1" #address="ngModel">
            <div class="usernotify">Street address, City, State and Zip code</div>
            <!--<div *ngIf="user.home_address_1.invalid && (user.home_address_1.dirty || user.home_address_1.touched)" class="alert">-->
              <!--<div *ngIf="user.home_address_1.errors.required">Home address is required.</div>-->
              <!--<div *ngIf="user.home_address_1.errors.maxlength">Home address should not exceed 38 characteristics.</div>-->
            <!--</div>-->

            <div class="number">6. Home Address 2</div>
            <input class="input" type="text" name="hometwo"  size="38" maxlength="38" [(ngModel)]="user.home_address_2">
            <div class="usernotify">Apt., Floor, Unit etc. </div>

            <div class="number">7. Mail Address 1<span class="star">*</span></div>
            <input class="input" type="text" name="mailone"  size="38" maxlength="38" required [(ngModel)]="user.mail_address_1">
            <div class="usernotify">Street address, City, State and Zip code</div>


            <div class="number">8. Mail Address 2</div>
            <input class="input" type="text" name="mailtwo"  size="38" maxlength="38"  [(ngModel)]="user.mail_address_2">
            <div class="usernotify">Apt., Floor, Unit etc.</div>


            <div class="number">9. License Type<span class="star">*</span></div>
            <input class="input" type="text" name="licensetype"  size="38" maxlength="38" required [(ngModel)]="user.license_type">


            <div class="number">10. License Number<span class="star">*</span></div>
            <input class="input" type="text" name="licensenumber"  size="38" maxlength="38" required [(ngModel)]="user.license_number">


            <div class="number">11. Occupation<span class="star">*</span></div>
            <input class="input" type="text" name="occupation"  size="38" maxlength="38" required [(ngModel)]="user.occupation">


            <div class="number">12. Annual Income<span class="star">*</span></div>
            <input class="input" type="text" name="annualincome"  size="38" maxlength="38" required [(ngModel)]="user.annual_income">


            <div class="number">13. Employee<span class="star">*</span></div>
            <input class="input" type="text" name="employee"  size="38" maxlength="38" required [(ngModel)]="user.employee">

            <div class="continue">
              <table class="buttons">
                <tr>
                  <td>
                    <button class="continue-button" type="button" (click)="nextPage()">Continue</button><br>
                  </td>
                  <td class="string">|</td>
                  <td class="cancel">Cancel</td>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="3">
    <div class="container step2">
      <div class="header">
      </div>
      <div class="content">
        <div class="title">Online Banking Setup: Step 2</div>
        <div class="steps">
          <div class="step done">
            Personal Information
          </div>
          <div class="step done">
            Security Questions
          </div>
          <div class="step">
            Terms and Conditions
          </div>
          <div class="step">
            Review
          </div>
        </div>
        <div class="image">
          <img src="assets/images/enrollimage3.jpg" width=100% height=200px alt="Image">
        </div>

        <div class="table">Setting Password</div>
        <div class="form">
        <table class="divide">
          <tr>
            <td class="lefttable">
              <div class="number">1. Password<span class="star">*</span></div>
              <input class="input" type="password" id="password" required [(ngModel)]="user.password" name="password" #password="ngModel"  size="24" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,15}$">
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
                <div *ngIf="password.errors.required">Password is required.</div>
                <div *ngIf="password.errors.pattern">Please fill in according to Password Guidance.</div>
              </div>
              <div class="number">2. Confirm Password<span class="star">*</span></div>
              <input class="input" type="password"  id="confirmPassword" required validateEqual="password" [(ngModel)]="user.confirmPassword" name="confirmPassword" #confirmPassword="ngModel" size="24">
              <div *ngIf="user.password != user.confirmPassword" class="alert">
                Passwords did not match
              </div>


            </td>
            <td class="righttable">
              <div class="right">
                <p><strong>Password Guidances</strong></p>
                <p><strong>Please create your new Password, keeping in mind that it:</strong></p>
                <p>	&bull;Must be 8-15 characters </p>
                <p>	&bull;Must contain at least one Uppercase letter</p>
                <p>	&bull;Must contain at least one Lowercase letter </p>
                <p>	&bull;Must contain at least one number</p>
              </div>
            </td>
          </tr>
        </table>
      </div>

        <div class="tablemid">Security Questions</div>
        <form #formDataTwo="ngForm">
          <div class="form">
            <div class="notify">From now on we will monitor your use pattern and if we suspect it is not you logging in we will ask you to answer a few verification questions.Please take a moment to select one question from each of the three drop-down menus.Answers are not case sensitive.</div>

            <table class="tablepanel">
              <tr>
                <td class="label"><label>Question One:</label><span class="star">*</span></td>
                <td class="selections">
                  <select id="selectone" name="securityone" [(ngModel)]="user.sq1" #securityone="ngModel" required>
                    <option value="" disabled selected>Please select</option>
                    <option *ngFor="let question of securityOneQuestions" [ngValue]="question.value">{{question.question}}</option>
                    <!--<option name="1" value="questiononeone">In what city or town did your mother and father meet?</option>-->
                    <!--<option name="2" value="questiononetwo">What is the name of your favorite childhood friend?</option>-->
                    <!--<option name="3" value="questiononethree">What is your favorite team?</option>-->
                    <!--<option name="4" value="questiononefour">What was your favorite food as a child?</option>-->
                    <!--<option name="5" value="questiononefive">Who is your childhood sports hero?</option>-->
                  </select>
                </td>
              </tr>

              <tr>
                <td class="label"><label>Answer One:</label><span class="star">*</span></td>
                <td class="selections">
                  <input id="answerone" class="input" type="text" name="answerone"  size="30" maxlength="30" [(ngModel)]="user.sq1a" #answerone="ngModel" required/>
                </td>
              </tr>

              <tr>
                <td class="label"><label>Question Two:</label><span class="star">*</span></td>
                <td class="selections">
                  <select id="selecttwo" name="securitytwo" [(ngModel)]="user.sq2" #securitytwo="ngModel" required>
                    <option value="" disabled selected>Please select</option>
                    <option *ngFor="let question of securityTwoQuestions" [ngValue]="question.value">{{question.question}}</option>
                    <!--<option name="1" value="questiontwoone">When is your youngest sibling’s birthday (MM/DD)?</option>-->
                    <!--<option name="2" value="questiontwotwo">What was your favorite sport in high school?</option>-->
                    <!--<option name="3" value="questiontwothree">What is the middle name of your oldest child?</option>-->
                    <!--<option name="4" value="questiontwofour">What was the name of the hospital where you were born?</option>-->
                    <!--<option name="5" value="questiontwofive">What school did you attend for sixth grade?</option>-->
                  </select>
                </td>
              </tr>

              <tr>
                <td class="label"><label>Answer Two:</label><span class="star">*</span></td>
                <td class="selections">
                  <input id="answertwo" class="input" type="text" name="answertwo"  size="30" maxlength="30" [(ngModel)]="user.sq2a" #answertwo="ngModel" required/>
                </td>
              </tr>
              <tr>
                <td class="label"><label>Question Three:</label><span class="star">*</span></td>
                <td class="selections">
                  <select id="selectthree" name="securitythree" [(ngModel)]="user.sq3" #securitythree="ngModel" required>
                    <option value="" disabled selected>Please select</option>
                    <option *ngFor="let question of securityThreeQuestions" [ngValue]="question.value">{{question.question}}</option>
                    <!--<option name="1" value="questionthreeone">What is your grand father’s first name?</option>-->
                    <!--<option name="2" value="questionthreetwo">In what town was your first job?</option>-->
                    <!--<option name="3" value="questionthreethree">What is the first name of your best friend in high school?</option>-->
                    <!--<option name="4" value="questionthreefour">What is your favorite color?</option>-->
                    <!--<option name="5" value="questionthreefive">Which is your favorite web browser?</option>-->
                  </select>
                </td>
              </tr>

              <tr>
                <td class="label"><label>Answer Three:</label><span class="star">*</span></td>
                <td class="selections">
                  <input id="answerthree" class="input" type="text" name="answerthree"  size="30" maxlength="30" [(ngModel)]="user.sq3a" #answerthree="ngModel" required/>
                </td>
              </tr>

            </table>


          </div>

          <div class="tablepanel">
            <table class="buttons">
              <tr>
                <td><a class="alc"><button id="returnback" type="button" (click)="previousPage()">Back</button></a></td>
                <td>
                  <button class="continue-button" type="button" [disabled]="!formDataTwo.valid" (click)="nextPage()">Continue</button>
                </td>
                <td class="string">|</td>
                <td class="cancel">Cancel</td>
              </tr>
            </table>
          </div>
        </form>

      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="4">
    <div class="container step3" >
      <div class="header">
      </div>
      <div class="content">
        <div class="title">Online Banking Setup: Step 3</div>
        <div class="steps">
          <div class="step done">
            Personal Information
          </div>
          <div class="step done">
            Security Questions
          </div>
          <div class="step done">
            Terms and Conditions
          </div>
          <div class="step">
            Review
          </div>
        </div>
        <div class="image">
          <img src="assets/images/enrollimage4.jpg" width=100% height=200px alt="Image">
        </div>
        <div class="table">Terms and conditions</div>
        <form #formDataThree="ngForm">

          <div class="term">
				<textarea cols=100 rows=15>
				                           Devonshire Lending
                            Online Banking Agreement and Disclosure Statement

This Online Banking Agreement and Disclosure Statement ("Agreement") sets forth your rights and obligations as a user of the Online Banking service ("Online Banking") and the Bill Payment service ("Bill Pay"). It also describes the rights and obligations of Devonshire Lending ("Devonshire Lending"). Please read this Agreement carefully. By requesting and using one of these products, you are agreeing to the terms and conditions of this Agreement. This Agreement is to be considered an Addendum to the terms and conditions of your account and the disclosure(s) provided by Devonshire Lending.

Devonshire Lending offers a number of services to its customers, which involve electronic fund transfers. Your use of Devonshire Lending’s Online Banking through www.bankwithusb.com is governed by this agreement, your application for Online Banking, any instructions we provide on how to use Online Banking, as well as any other agreements applicable to the deposit or loan accounts you access through Online Banking. Any of these agreements may be amended from time to time. The regulations governing your deposit account(s) are set forth in documents provided to you at the time of account opening, including the "Important Information About Deposit Accounts Disclosure" or similar type document. This disclosure is also available upon request from any Devonshire Lending branch location.

Definitions:
The following definitions apply in this Agreement:

"Authorized Representative" refers to a person with authority (with respect to the account);
"Bill Payment" is the online service that enables the scheduling of bill payments using a personal computer;
"ISP" refers to your Internet Service Provider;
"Online Banking" is the internet-based service providing access to your Bank account(s);
"Online Account" means the Bank account from which you will be conducting transactions using a Service;
"Password" is the customer-generated code selected by you for use during the initial sign-on, or the codes you select after the initial sign-on, that establishes your connection to the Service;
"PC" means your personal computer which enables you, with the Internet browser and ISP, to access your Online Account;
"Time of day" references are to Eastern] [Mountain] [Pacific] Standard Time;
"User ID" is the Bank-generated identification code assigned to you for your connection to the Service;
"We", "us", or "Bank" refer to Pegasus Bank which offers the Services and which holds the accounts accessed by the Services
"You" or "your" refers to the owner of the account or the authorized representative; and
"Enhanced Login Security" or "Multi-Factor Authentication (MFA)" means enhanced security beyond User ID and password in order to access your online banking account.
Access to Services:
Online Banking and Bill Pay are FREE products that give you SECURE access to your Devonshire Lending accounts 24 hours a day, seven (7) days a week.

You will gain access to your Online Account(s) through the use of your internet enabled device, your ISP, your password and your User ID. Access may be suspended for brief periods of time for purposes of maintenance, updating and revising the software.

Online Banking Transactions:
Account Access - You may access any or all of your savings and lending accounts using Online Banking. However, one of these accounts must be a checking account in order to establish the online banking relationship.
Transfer of Funds - In addition to viewing account information, you may use Online Banking to conduct the transfer of funds. You may make one-time transfers or schedule future or recurring transfers between authorized deposit accounts, and/or to make loan payments. You may transfer funds between accounts including your checking, savings, and your home equity line of credit, provided there are sufficient funds in the account. Certificates of Deposit can be viewed only.
Transfers between your accounts can be made at any time. Transfers made after 8 P.M. Monday through Friday and after 4 P.M. Saturday (Eastern Time), or on a Sunday or Federal Holiday could result in your transaction processing on the next business day. Transfers will occur provided there are no holds on your accounts and the funds are available for transfer. The time recorded by Online Banking will be considered the official time of the transaction.

A transaction results page is available after the transfer showing the posting date and reference number. We recommend that you print this page for your records.

NOTE: Because regulations require Devonshire Lending to limit preauthorized transfers (including Online Banking transfers), the following limitations apply:

Savings Deposit Accounts - You can make no more than 6 transfers per statement cycle by preauthorized or automatic transfer (including Debit/ATM), or by telephone, or Online Banking.
Money Market Plus Checking Accounts - You can make no more than 6 transfers per statement cycle by preauthorized or automatic transfer (including Debit/ATM), or by telephone or Online Banking; with no more than three (3) of these transfers by check, draft or similar order to third parties.
New Services - New Online Banking services may be introduced from time to time. Devonshire Lending will notify you of any new services via the Online Banking Home page or other means. By using the new service subsequent to being notified of the terms and conditions of the new service, you are agreeing to and will be bound by those terms and conditions.
Schedule of Fees - Devonshire Lending offers FREE Online Banking and Bill Pay services.
Please refer to the Bank’s fee schedule for any other fees related to your deposit account(s).

Statements - You will continue to receive your regular account statement either monthly or quarterly, depending on the type of account.
Security and Protecting Your Account:
You are responsible for keeping your password and Online Account information confidential. In order to protect yourself against fraud, you should adhere to the following guidelines:

Do not give out your account information, Password, or User ID;
Do not leave your PC unattended while you are in the Bank's Online Banking Site;
Never leave your account information within range of others; and
Do not send privileged account information (account number, Password, etc.) in any public or general e-mail system.
IMPORTANT: The Bank will never request your User Name and/or Password over the Internet. The only confidential communication that should occur between Devonshire Lending and its customers should be via the "Secure Support" Link located at the top of every Online Banking web page. Always initiate your Online Banking or Bill Pay transactions by accessing our Online Banking link at www.bankwithusb.com.

If you believe your password has been lost or stolen, or if you suspect any fraudulent activity on your account:

Call the Bank immediately at (855) 247-0300; and
Use the Password change feature within the Online Banking/User Option section of the website to change your Password.
When you or any authorized user access Online Banking using your password, you authorize Devonshire Lending to follow the instructions we receive concerning your accounts and to credit and/or charge your accounts according to those instructions. Since your password protects access to your accounts, you agree that you will not share your password or make it available to another individual. If you share your password or make it available to another individual, you authorize that individual to access your accounts and thereby give us instructions relating to these accounts from this user. You also authorize us to comply with those instructions even if that individual exceeds your authorization. If you share your password with another individual, the only way that you can restore the security of your account is to change your User ID and/or password.

 Electronic Mail (E-mail):
To ensure secure e-mail communications, use the secure e-mail located within the "Secure Support" link at the top of every Online Banking web page. Communication by general e-mail is not secure and is not advised for confidential and personal information.

 Systems and Software:
Devonshire Lending shall not be responsible to you for any loss or damages suffered by you as a result of the failure of systems and software used by you to interface with our systems and software utilized by you to initiate or process banking transactions, whether such transactions are initiated or processed directly with our systems or through a third party service provider. You acknowledge that you are solely responsible for the adequacy of systems and software utilized by you to process banking transactions and the ability of such systems and software to do so accurately.

  Bill Payment Services
Description of Service. The Bill Payment Service permits you to use your Internet-enabled device to direct payments from your designated online Bill Payment Account to third parties you wish to pay. Your Bill Payment Account must be a primary checking account. Through the Bill Payment Service, you can pay bills from your Bill Payment Account to businesses or individuals.
All payments you make will be deducted from the checking account that you designate as your Bill Payment Account for the Bill Payment Service. Any payments you wish to make through this Service must be payable in U.S. dollars to a payee located in the continental United States. We reserve the right to restrict types of payees to whom payments may be made using the Service from time to time. You should not use the Bill Payment Service to make payments to settle securities purchases, payments to interest bearing accounts, tax payments, or court ordered payments. Payments for these payees will be your sole responsibility if delayed or improperly processed or credited.

Scheduling Payments. Funds must be available in your Bill Payment Account on the scheduled payment date. If the date you schedule a payment to be initiated falls on a non-business day (Saturday, Sunday, or holiday), funds must be available in your Bill Payment Account the following business day (e.g. Monday). After funds are withdrawn from your Bill Payment Account to make a payment, we may make the payment either by transferring funds electronically to the payee or by mailing the payee a check.
You may choose to schedule payments to recur in the same amount at regular weekly, monthly, or semi-monthly intervals. When you create a new payee in the Bill Payment Service, it takes two (2) business days to set up the payee to receive payments. You should schedule a payment to a new payee at least ten (10) business days before any payment due date, to allow us time to set up the payee and verify information about your account with the payee.

For all subsequent payments, you agree to allow at least four (4) to ten (10) business days between the date you schedule a payment to be initiated and the payment due date (that is, the due date shown on your invoice or provided in your agreement with the payee, not taking into account any applicable grace period). If the payment is an Automatic Clearing House (ACH) electronic payment, it will take up to four (4) business days to reach the payee. However, if the company or person that you are paying cannot accept an electronic payment, the Bill Payment Service will send a check that may take up to ten (10) business days. If you do not follow these time frames, you will be fully responsible for all late fees, finance charges or other actions taken by the payee. If you schedule your payment and follow all instructions provided, but the payment is not received by the payee in a timely manner, the Bank will work with the payee on your behalf to reverse any late fees or charges.

No Duty to Monitor Payments. The Bank is only responsible for exercising ordinary care in processing and sending payments upon your authorization in accordance with this Agreement. The Bank will not be liable in any way for damages you incur for any of the following reasons:
insufficient funds in your Bill Payment Account to make the payment on the processing date;
delays in mail delivery;
changes to the payee's address or account number unless we've been advised of the change in advance
the failure of any payee to correctly account for or credit the payment in a timely manner, or
any other circumstances beyond the control of the Bank.
If the session during which you schedule a payment or transfer ends by 2:00 p.m., the Bank will be considered to have received it on that day. Otherwise, it will be considered received on the following business day. For all entries made using the Services, the time recorded by the Online Banking Service will be considered the official time of the transaction.

If your Bill Payment Account does not have sufficient available funds to make a payment as of the date the payment is debited to your account, the item will be returned and may be processed as a collection item. The Bank will notify you by U.S. Postal Mail, but the Bank shall have no obligation or liability if it does not complete the payment because there are insufficient funds in your account to process the payment. In all cases, you are responsible for contacting the Bill Pay Department at (855) 247-0300 to either make alternate arrangements for payment or reschedule the payment through Bill Pay. In the case of fixed payments, only the payment currently scheduled will be impacted. Fixed payments scheduled for future dates will not be affected.

Cancel or Change Payment Instructions. Payments must be changed or canceled using the Service prior to 12:00 p.m. on the business day the transaction is scheduled to be initiated. If you ask us to cancel a payment after it is issued and we agree to do so, we may charge you a stop payment fee. Stop payment orders whether oral, written, or electronic, will be in effect for a period of six (6) months. If requested by the Bank, you will confirm any stop payment order in writing. After six (6) months, any stop payment will terminate and must be renewed in order to continue in effect. The Bank may pay any item that is presented following the lapse of any stop payment order.
No Signature Required. When any payment or other online Service generates items to be charged to your account, you agree that we may debit your Bill Payment account without requiring your signature on the item and without prior notice to you.
Multiple Person Bill Payment Accounts. If more than one person has access to a Bill Payment account, each person may individually enroll in the Bill Pay service. Each enrolled person needs a unique password but may choose to use the same payee list. Each individual may terminate her/his enrollment in the Bill Payment service without affecting the Service for any other person enrolled in that Bill Payment account. However, any enrolled person may terminate the Bill Payment service that will terminate the service for all enrolled persons on that Bill Payment account.
Linked Accounts
All accounts with Devonshire Lending that you enroll in Online Banking will be linked by the tax identification numbers of the persons authorized to access the account. The linked accounts will appear together without regard to ownership of the accounts. For example, if an authorized user accesses Online Banking, that authorized user will be able to view and access all accounts for which that person is a co-owner and/or an authorized user.

Business Accounts
If you are a business, any authorized user on the account is authorized on such terms, conditions and agreements as we may require, to:

Enter into this Agreement, as amended from time to time;
Access each account of the business and use Online Banking or Bill Pay in any manner and for any purpose whether now available or available at some time in the future.
Term and Termination
Term - This Agreement will become effective upon acceptance and shall remain in full force and effect until termination for either cause or convenience.
Termination for Cause - We may immediately terminate your electronic banking privileges (including Bill Pay) without notice to you in accordance with the following provisions:
You do not pay any fee required by this Agreement when due or,
You do not comply with the agreement governing your deposit or loan accounts or your accounts are not maintained in good standing.
We will promptly notify you if we terminate this Agreement or your use of the Services for any other reason.

Termination for Convenience. To terminate this Agreement, you must notify the Bank and provide your name, address, the Service(s) you are discontinuing, and the termination date of the Service(s). When Bill Payment is terminated, any prescheduled bill payments made through Online Banking will also be terminated. You may notify the Bank by one of the following methods:
Sending a secure e-mail through our "Secure Support" link at the top of any Online Banking web page;
Calling (513) 247-0300 and asking for the Online Banking Administrator, or calling Toll Free (855) 247-0300;
Mailing a letter to Devonshire Lending, Attn: Online Banking Administrator, 8534 E. Kemper Road, Cincinnati, Ohio 45249-3701; or
Informing a Customer Service Representative at any Devonshire Lending branch office.
If you are not using Bill Pay during any consecutive 90- day period, we may terminate your Bill Pay account. To reactivate Bill Pay, please contact your local branch office or call (855) 247-0300.

 Electronic Fund Transfer Provisions For Consumers
Applicability. These provisions are only applicable to online electronic fund transfers that credit or debit a consumer’s checking, savings or other asset account and are subject to the Electronic Fund Transfer Act (Regulation E). When applicable, the Bank may rely on any exceptions to these provisions that are contained in Regulation E. All terms that are not defined in this Agreement, but which are defined in Regulation E shall have the same meaning when used in this section.
Consumer Liability - Lost or Stolen Password/Unauthorized Transfers - The following determines your liability for any unauthorized electronic fund transfer ("EFT") or any series of related unauthorized EFTs. Call us AT ONCE at (855) 247-0300 if you believe your password has been lost or stolen, or if you believe an electronic fund transfer has been made without your permission using Online Banking. Telephoning is the best way of keeping your possible losses down. You could lose all of the money in your account plus your maximum overdraft protection amount available.
If you believe that your password has been lost or stolen, please use the password change feature within Online Banking to change your password. As a general rule, it is a good practice to change your password on a periodic basis.

If you notify the Bank within two (2) business days after learning that your password was lost or stolen, your liability will not exceed $50.00 or the amount of the unauthorized EFTs that occur before notification, whichever is less. Each owner is responsible for transactions conducted by individuals with whom User ID and/or Password or other key information have been shared.
If you fail to notify the Bank within two (2) business days after learning that your password was lost or stolen, your liability will not exceed the lesser of $500.00 or the total of:
$50.00 or the amount of unauthorized EFTs that occur within the two (2) business days; plus
the total of unauthorized EFTs which occur after the first two (2) days and before the customer gives notice to the Bank, provided the Bank establishes that these EFTs would not have occurred had the Bank been notified within that two-day period.
Also, if your statement shows a transfer that you did not make, tell us at once. You must report an unauthorized EFT that appears on your periodic statement, no later than 60 days after we send you the statement to avoid unlimited liability for all unauthorized transfers made after the 60-day period. The consumer’s liability for unauthorized transfers before the statement is sent, and up to the 60 days following, is determined based on the first two tiers of liability as stated above.

				</textarea>



          </div>


          <div class="tacbox">
            <input id="agree" type="checkbox" name="userAgreement" ngModel required>
            <label for="agree" class="boxcontainer">I have read, fully understood and agreed with the terms and conditions.
            </label>
          </div>

          <div class="tablepanel">
            <table class="buttons">
              <tr>
                <td><button class="returnback" type="button" (click)="previousPage()">Back</button></td>
                <td><button class="returnback" type="button" (click)="nextPage()" [disabled]="!formDataThree.valid">Continue</button></td>
                <td><button class="returnback" type="button" >Print</button></td>

            </table>
          </div>
        </form>

      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="5">
    <div class="container step4">
      <div class="header">
      </div>
      <div class="content">
        <div class="title">Online Banking Setup: Step 4</div>
        <div class="steps">
          <div class="step done">
            Personal Information
          </div>
          <div class="step done">
            Security Questions
          </div>
          <div class="step done">
            Terms and Conditions
          </div>
          <div class="step done">
            Review
          </div>
        </div>
        <div class="image">
          <img src="assets/images/enrollimage5.jpg" width=100% height=200px alt="Image">
        </div>
        <div class="table">Review</div>
        <form method="get">
          <div class="form">

            <div class="notify">Please review your enrollment information.Once you have enrolled,
              you can make changes to your profile in the Settings and Support section of Online Banking.</div>
            <hr>
            <table  class="tablepanel">
              <tr>
                <td class="label"><label>Email Address:</label></td>
                <td class="selections">
                  {{email}}
                </td>
              </tr>

              <tr>
                <td class="label"><label>Full Name:</label></td>
                <td class="selections">
                  {{user.first_name}} {{user.middle_name}} {{user.last_name}}
                </td>
              </tr>


              <tr>
                <td class="label"><label>Phone Number:</label></td>
                <td class="selections">
                  {{user.primary_phone_number}}
                </td>
              </tr>

              <tr>
                <td class="label"><label>Home Address:</label></td>
                <td class="selections">
                  {{user.home_address_1}} {{user.home_address_2}}
                </td>
              </tr>

              <tr>
                <td class="label"><label>Security Question 1:</label></td>
                <td class="selections">
                  {{securityOneQuestions[user.sq1-1].question}}
                </td>
              </tr>
              <tr>
                <td class="label"><label>Security Question 2:</label></td>
                <td class="selections">
                  {{securityTwoQuestions[user.sq2-1].question}}
                </td>
              </tr>

              <tr>
                <td class="label"><label>Security Question 3:</label></td>
                <td class="selections">
                  {{securityThreeQuestions[user.sq3-1].question}}
                </td>
              </tr>

              <tr>
                <td class="label"><label>Terms and agreements:</label></td>
                <td class="selections">
                  I agree with the terms and agreement.
                </td>
              </tr>

            </table>
            <hr>

          </div>

          <div class="tablepanel">
            <table class="buttons">
              <tr>
                <td><a class="alc"><button class="buttonscolor" type="button" (click)="previousPage()">Back</button></a></td>
                <td><button class="buttonscolor" type="button" (click)="submit()">Submit</button></td>
                <td id="string">|</td>
                <td id="cancel">Cancel</td>
            </table>
          </div>
        </form>

      </div>
    </div>
  </ng-container>
</section>
