header {
  width:100%;
  z-index:99;
}

nav {
  background-color:transparent;
  color:#424242;
  height:12vw;
}

nav a.button-collapse {
  display:inherit;
}

nav ul a {
  color:#424242;
  height:100%;
}

.brand-logo img {
  width:15vw;
  height:10vw;
  margin-top:1vw;
  margin-bottom:1vw;
}

.dropdown-content li>a {
  color:#424242;
}


#section {
    height: 170px;
}

#dropdown {
    width: 60px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

#dropdown-label {
    margin-top: 25px;
    margin-left: 15px;
    font-size: 20px;
    float: left;
    font-family: 'Noto Sans', sans-serif;
}

#logo {
    width: 220px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 330px;
}

#dropbtn {
    background-color: white;
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    float: right;
    font-family: 'Noto Sans', sans-serif;
}

#atm {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-right: 10px;
    float: right;
    font-family: 'Noto Sans', sans-serif;
}

#search {
    width: 30px;
    margin-top: -2px;
    float: right;
}

.right-bar {
    margin-top: -130px;
}
