<!--<div id="section">-->
<!--<img src="assets/images/dropdown.png" alt="dropdown_icon" id="dropdown">-->
<!--<div id="dropdown-label">Explore Products</div>-->
<!--<img src="assets/images/dl-logo.png" alt="dl-logo" id="logo">-->
<!--<div class="right-bar">-->
<!--<a href=""><img src="assets/images/search.png" alt="search" id="search"></a>-->
<!--<a href="" id="dropbtn">Language</a>-->
<!--<a href="" id="atm">ATM & branch</a>-->
<!--</div>-->
<!--</div>-->
<div>
    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left">
                <li><a><i class="material-icons left">dehaze</i></a></li>
                <li><a href="">Explore Products</a></li>
            </ul>
            <a class="brand-logo center" routerLink="/" routerLinkActive="active"><img src="assets/images/dl-logo.png" class="valign-wrapper" alt="dl-logo"></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="">ATM & Branch</a></li>
                <li><a class="dropdown-button" href="#" data-activates="language-dropdown">Language<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href=""><i class="material-icons right">search</i></a></li>
            </ul>
        </div>
        <ul id="language-dropdown" class="dropdown-content">
            <li><a href="#">English</a></li>
            <li class="divider"></li>
            <li><a href="#">Spanish</a></li>
        </ul>
    </nav>
</div>
