.container {
    width: 100%;
    height: 300vh;
    border: solid 2px #b79344;
    border-radius: 10px;
    .header {
        width: 100%;
        height: 7vh;
        background-color: #ababab;
        opacity: 0.8;
    }
    .buttons-group {
        width: 100%;
        height: 10vh;
        // background-color: black;
        padding-left: 2vw;
    }
    .button {
        width: 30%;
        height: 8vh;
        // background-color: #b79344;
        float: left;
        margin: 2vh 1vw 2vh 1vw;
        border: solid 3px #b79344;
        border-radius: 10px;
        text-align: center;
        padding-top: 1vh;
        span {
            font-size: 2vw;
            font-weight: bold;
            color: #b79344;
        }
        transition: background-color 0.5s;
    }
    .button:hover {
        background-color: #b79344;
        span {
            color: white;
        }
    }
    .selection {
        width: 100%;
        height: 8vh;
        // background-color: black;
        img {
            width: 5vw;
            height: 4vh;
            margin-left: 47%;
            transition: 0.5s;
        }
        img:hover {
            transform: translate(0px, -10px);
        }
    }
    .background {
        width: 95%;
        height: 60vh;
        margin: 0 auto;
        img {
            width: 100%;
            height: 57vh;
        }
    }
}