.container {
    width: 100%;
    // height: 210vh;
    border: solid 2px #b79344;
    border-radius: 10px;
    .header {
        width: 100%;
        height: 7vh;
        background-color: #ababab;
        opacity: 0.8;
    }
    .buttons-group {
        width: 100%;
        height: 10vh;
        // background-color: black;
        padding-left: 2vw;
    }
    .button {
        width: 30%;
        height: 8vh;
        // background-color: #b79344;
        float: left;
        margin: 2vh 1vw 2vh 1vw;
        border: solid 3px #b79344;
        border-radius: 10px;
        text-align: center;
        padding-top: 1vh;
        span {
            font-size: 2vw;
            font-weight: bold;
            color: #b79344;
        }
        transition: background-color 0.5s;
    }
    .button:hover {
        background-color: #b79344;
        span {
            color: white;
        }
    }
    .selection {
        width: 100%;
        height: 8vh;
        // background-color: black;
        img {
            width: 5vw;
            height: 4vh;
            margin-left: 47%;
            transition: 0.5s;
        }
        img:hover {
            transform: translate(0px, -10px);
        }
    }
    .background {
        width: 95%;
        height: 60vh;
        margin: 0 auto;
        img {
            width: 100%;
            height: 57vh;
        }
    }
    .title {
        width: 95%;
        height: 8vh;
        border-radius: 10px 10px 0px 0px;
        background-color: #b79344;
        margin: 0 auto;
        padding-top: 1vh;
        span {
            font-size: 4vh;
            color: white;
            font-weight: bold;
            margin-left: 2vw;
        }
    }
    .step {
        width: 95%;
        height: 8vh;
        margin: 0 auto;
        background-color: #bdbaba;
        padding-top: 2vh;
        padding-left: 2vw;
        span {
            color: white;
            font-size: 3vh;
            font-weight: bold;
        }
    }
    table {
        table-layout: fixed;
        width: 50%;
        .alert {
            color: red;
            font-weight: bold;
            font-size: 2.5vh;
        }
    }
    .account {
        width: 95%;
        height: 12vh;
        margin: 2vh auto;
        // background-color: black;
        padding: 2vh 2vw;
        label {
            font-size: 3vh;
            font-weight: bold;
            color: black;
            padding-left: 2vw;
            //float: left
            display: inline-block;
        }
        span {
            color: red;
            font-size: 3vh;
            padding-left: 1vw;
            //float: left
            display: inline-block;
        }
        select {
            display: inherit !important;
            // float: left !important;
            padding: 8px !important;
            // padding-left: 2vw !important;
            padding-right: 13px !important;
            font-size: 1.3em !important;
            border: 1.5px solid #bbbbbb !important;
            background-color: #fff !important;
            color: #b79344 !important;
            width: 520px !important;
            height: 42px !important;
            border-radius: 0 !important;
            margin-left: 1vw;
        }
        select:focus {
            outline: none !important;
            border: 1.5px solid #b79344 !important;
            box-shadow: 0 0 10px #DDDDDD !important;
        }
        input {
            display: inline-block !important;
            // float: left !important;
            padding: 8px !important;
            // padding-left: 2vw !important;
            padding-right: 13px !important;
            font-size: 1.3em !important;
            border: 1.5px solid #bbbbbb !important;
            background-color: #fff !important;
            color: #b79344 !important;
            width: 500px !important;
            height: 26px !important;
            border-radius: 5px !important;
            margin-left: 1vw;
        }
        input:focus {
            outline: none !important;
            border: 1.5px solid #b79344 !important;
            box-shadow: 0 0 10px #DDDDDD !important;
        }
    }
    .imageuploader {
        width: 95%;
        // height: 15vh;
        //background-color: gray;
        margin: 0 auto;
        padding: 2vh 1vw 2vh 4.5vw;
        input[type="file"] {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        .uploadbar {
            cursor: pointer;
            font-size: 3vh;
            font-weight: bold;
            color: #b79344;
            background-color: white;
            border-radius: 10px;
            border: 2px solid #b79344;
            padding: 2vh 5vw 2vh 2vw;
            display: inline-block;
            transition: 0.5s;
            img {
                width: 3vw;
                height: 2.5vw;
                margin-left: 4vw;
                display: inline-block;
                vertical-align: top;
            }
        }
        .uploadbar:hover {
            background-color: #b79344;
            color: white;
        }
    }
    .bottom-buttons {
        width: 50%;
        height: 10vh;
        margin: 7vh auto;
        // background-color: black;
        padding-left: 5vw;
        margin-bottom: 3vh;
        .bottom-button {
            text-align: center;
            width: 38%;
            height: 6vh;
            border: solid 2px #b79344;
            border-radius: 10px;
            padding-top: 0.5vh;
            transition: background-color 0.5s;
            display: inline-block;
            span {
                color: #b79344;
                font-size: 3vh;
                font-weight: bold;
            }
        }
        .bottom-button:hover {
            background-color: #b79344;
            span {
                color: white;
            }
        }
        button {
            display: inline-block;
            width: 38%;
            height: 6vh;
            border: solid 2px #b79344;
            border-radius: 10px;
            color: #b79344;
            font-size: 3vh;
            font-weight: bold;
            transition: background-color 0.5s;
            margin-left: 2vw;
        }
        button:hover {
            background-color: #b79344;
            color: white;
        }
        button:focus {
            background-color: #b79344 !important;
            color: white !important;
        }
    }
}

.customClass {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #bbbbbb;
    margin: 1vw;
    width: 80%;
    .img-ul-upload {
        background-color: white !important;
        color: #b79344 !important;
        height: 6vh !important;
        border-radius: 10px;
        border: 2px solid #b79344;
        box-shadow: none !important;
        transition: 0.5s;
        font-weight: bold !important;
    }
    .img-ul-upload:hover {
        background-color: #b79344 !important;
        color: white !important;
    }
    .img-ul-drag-box-msg {
        font-size: 2vh;
        font-weight: bold !important;
    }
    .img-ul-clear {
        background-color: white !important;
        color: #b79344 !important;
        height: 6vh !important;
        border-radius: 10px;
        border: 2px solid #b79344;
        box-shadow: none !important;
        transition: 0.5s;
        font-weight: bold !important;
        margin-left: 1vw;
    }
    .img-ul-clear:hover {
        background-color: #b79344 !important;
        color: white !important;
    }
    .img-ul-container {
        background-color: white !important;
    }
}

#confirmbutton:disabled {
    background-color: #dddddd !important;
    color: #646464;
    border: solid 2px gray;
}