<div class="container">
	<div class="header">
	</div>
	<div class="content">
		<div class="title">Online Banking Setup: Step 2</div>
		<div class="steps">
			<div class="step done">
       			Personal Information
    		</div>
    		<div class="step done">
        		Security Questions
    		</div>
    		<div class="step">
        		Terms and Conditions
    		</div>
     		<div class="step">
        		Review
    		</div>
		</div>
		<div class="image">
			<img src="assets/images/enrollimage3.jpg" width=100% height=200px alt="Image">
		</div>
		<div class="table">Security Questions</div>
		<form  #formDataTwo="ngForm" (ngSubmit)="onSubmit(formDataTwo)">
		<div class="form">
				<div class="notify">From now on we will monitor your use pattern and if we suspect it is not you logging in we will ask you to answer a few verification questions.Please take a moment to select one question from each of the three drop-down menus.Answers are not case sensitive.</div>

				<table  class="tablepanel">
  					<tr>
   						<td class="label"><label>Qustion One:</label><span class="star">*</span></td>
    					<td class="selections">
    						<select id="selectone" name="securityone" required>
								<option value="" disabled selected>Please select</option>
  					        	<option value="questiononeone">In what city or town did your mother and father meet?</option>
 					        	<option value="questiononetwo">What is the name of your favorite childhood friend?</option>
  					       		<option value="questiononethree">What is your favorite team?</option>
								  <option value="questiononefour">What was your favorite food as a child?</option>
								  <option value="questiononefive">Who is your childhood sports hero?</option>
							</select>
    					</td>
  					</tr>

  					<tr>
   						<td class="label"><label>Answer One:</label><span class="star">*</span></td>
    					<td class="selections">
    						<input id="answerone" class="input" type="text" name="answerone"  size="30" maxlength="30" required/>
    					</td>
 					</tr>

  					<tr>
   						<td class="label"><label>Qustion Two:</label><span class="star">*</span></td>
    					<td class="selections">
    						<select id="selecttwo" name="securitytwo" required>
									<option value="" disabled selected>Please select</option>
								<option value="questiontwoone">When is your youngest sibling’s birthday (MM/DD)?</option>
								<option value="questiontwotwo">What was your favorite sport in high school?</option>
									<option value="questiontwothree">What is the middle name of your oldest child?</option>
								 <option value="questiontwofour">What was the name of the hospital where you were born?</option>
								 <option value="questiontwofive">What school did you attend for sixth grade?</option>
							</select>
    					</td>
 					</tr>
 			
 					<tr>
   						<td class="label"><label>Answer Two:</label><span class="star">*</span></td>
    					<td class="selections">
    						<input id="answertwo" class="input" type="text" name="answertwo"  size="30" maxlength="30" required/>
    					</td>
 					</tr>
 					<tr>
   						<td class="label"><label>Qustion Three:</label><span class="star">*</span></td>
    					<td class="selections">
    						<select id="selectthree" name="securitythree" required>
									<option value="" disabled selected>Please select</option>
								<option value="questionthreeone">What is your grand father’s first name?</option>
								<option value="questionthreetwo">In what town was your first job?</option>
									<option value="questionthreethree">What is the first name of your best friend in high school?</option>
								 <option value="questionthreefour">What is your favorite color?</option>
								 <option value="questionthreefive">Which is your favorite web browser?</option>
							</select>
    					</td>
 					</tr>
 			
 					<tr>
   						<td class="label"><label>Answer Three:</label><span class="star">*</span></td>
    					<td class="selections">
    						<input id="answerthree" class="input" type="text" name="answerthree"  size="30" maxlength="30" required/>
    					</td>
 					</tr>

				</table>


		</div>

		<div class="tablepanel">
		<table class="buttons">
			<tr>
				<td><a routerLink="/one" routerLinkActive="active" class="alc"><button id="returnback" type="button" >Back</button></a></td>
				<td><button id="continuebutton" type="submit" [disabled]="!formDataTwo.valid" >Continue</button></td>
				<td id="string">|</td>
				<td id="cancel">Cancel</td>
			</tr>
		</table>
	</div>
		</form>

	</div>
</div>