<div class="container">
	<div class="header">
	</div>
	<div class="content">
		<div class="title">Online Banking Setup: Step 4</div>
		<div class="steps">
			<div class="step done">
       			Personal Information
    		</div>
    		<div class="step done">
        		Security Questions
    		</div>
    		<div class="step done">
        		Terms and Conditions
    		</div>
     		<div class="step done">
        		Review
    		</div>
		</div>
		<div class="image">
			<img src="assets/images/enrollimage5.jpg" width=100% height=200px alt="Image">
		</div>
		<div class="table">Review</div>
		<form method="get">
		<div class="form">
			
				<div class="notify">Please review your enrollment information.Once you have enrolled, you can make changes to your profile in the Settings and Support section of Online Banking.</div>
				<hr>
				<table  class="tablepanel">
  					<tr>
   						<td class="label"><label>Username:</label></td>
    					<td class="selections">
    						Tonyqin01
    					</td>
  					</tr>

  					<tr>
   						<td class="label"><label>Password:</label></td>
    					<td class="selections">
    						.........
    					</td>
 					</tr>

  					<tr>
   						<td class="label"><label>Change my password every:</label></td>
    					<td class="selections">
    						360 days
    					</td>
 					</tr>
 			
 					<tr>
   						<td class="label"><label>Security Question 1:</label></td>
    					<td class="selections">
    						What is the last name of your best friend in high school?
    					</td>
 					</tr>
 					<tr>
   						<td class="label"><label>Security Question 2:</label></td>
    					<td class="selections">
    						To what destination city did you fly on your first plane ride?
    					</td>
 					</tr>
 			
 					<tr>
   						<td class="label"><label>Security Question 3:</label></td>
    					<td class="selections">
    						To what destination city did you fly on your first plane ride?
    					</td>
 					</tr>
				</table>
				<hr>

		</div>

		<div class="tablepanel">
		<table class="buttons">
			<tr>
				<td><input type="submit" name="back" value="Back"></td>
				<td><input type="submit" name="submit" value="Submit"></td>
				<td id="string">|</td>
				<td id="cancel">Cancel</td>
		</table>
	</div>
		</form>

	</div>
</div>