<div class="container">
		<div class="header">
		</div>
		<div class="content">
			<div class="title">Online Banking Setup: Step 1</div>
			<div class="steps">
				<div class="step done">Personal Information</div>
    			<div class="step">Security Questions</div>
    			<div class="step">Terms and Conditions</div>
				<div class="step">Review</div>
			</div>
			<div class="image"><img src="assets/images/enrollimage1.jpg" width=100% height=200px alt="Image"></div>
			<div class="table">Enter Identification Information</div>
			<form  #formData="ngForm" (ngSubmit)="onSubmit(formData)">
				<div class="form">
					<div class="number">1. Account Number<span class="star">*</span></div>
					<input class="input" type="text" name="account"  size="16" minlength="10" maxlength="10" required pattern="[0-9]{10,10}" [(ngModel)]="model.account" #account="ngModel" forbiddenName="1234567890">
					<div class="usernotify">Any Devonshire Lending checking, saving or lending account Number (10 digits).</div>
					<div *ngIf="account.invalid && (account.dirty || account.touched)" class="alert">
				 		<div *ngIf="account.errors.required">Account number is required.</div>
						 <div *ngIf="account.errors.pattern">Account number must be 10 digit numbers.</div>
						 <div *ngIf="account.errors.forbiddenName">Account number already exists, please sign in.</div>
				 </div>
				</div>
			<div class="tablemid">Enter your personal information</div>
			<div class="form">
			<div class="number">2. Email Address<span class="star">*</span></div>
			<input class="input" type="text" name="email"  size="24" maxlength="24" required [(ngModel)]="model.email" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel" forbiddenName="team8@gmail.com">
			<div class="usernotify">Your Email Address will be used when you log in online banking system. </div>
			<div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
					<div *ngIf="email.errors.required">Email is required.</div>
					<div *ngIf="email.errors.pattern">Please fill in according to email format.</div>
					<div *ngIf="email.errors.forbiddenName">Email already exists, please sign in.</div>
			</div>
				<table class="divide">
					<tr>
					<td class="lefttable">
						<div class="number">3. Password<span class="star">*</span></div>
						<input class="input" type="password" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel"  size="24" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,15}$">
						<div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
								<div *ngIf="password.errors.required">Password is required.</div>
								<div *ngIf="password.errors.pattern">Please fill in according to Password Guidance.</div>
						</div>
						<div class="number">4. Confirm Password<span class="star">*</span></div>
						<input class="input" type="password"  id="confirmPassword" required validateEqual="password" [(ngModel)]="model.confirmPassword" name="confirmPassword" #confirmPassword="ngModel" size="24">
						<div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert">
						Passwords did not match
					 	</div>

						<div class="number">5. Full Name<span class="star">*</span></div>
						<input class="input" type="text" name="name"  size="24" maxlength="24" required  [(ngModel)]="model.name" 
						#name="ngModel">
						<div class="usernotify">Your first name and last name </div>
						<div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
								<div *ngIf="name.errors.required">Full name is required.</div>
				
						</div>
						<div class="number">6. Phone Number<span class="star">*</span></div>
						<select name="countrycode" class="browser-default">
  							<option value="us">(+01) US or Canada</option>
 							<option value="mexico">(+52) Mexico</option>
						</select>
						<input class="input" type="text" name="phone"  size="15" minlength="0" maxlength="14" required pattern="[0-9]{0,14}" [(ngModel)]="model.phone" #phone="ngModel">
						<div class="usernotify">Your country code e.g. (+1) for US and phone number</div>
						<div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert">
								<div *ngIf="phone.errors.required">Phone number is required.</div>
								<div *ngIf="phone.errors.pattern">Phone number should not contain alphabets.</div>
						</div>
				</td>
				<td class="righttable">
					<div class="right">
						<p><strong>Password Guidances</strong></p>
						<p><strong>Please create your new Password, keeping in mind that it:</strong></p>
						<p>	&bull;Must be 8-15 characters </p>
						<p>	&bull;Must contain at least one Uppercase letter</p>
						<p>	&bull;Must contain at least one Lowercase letter </p>
						<p>	&bull;Must contain at least one number</p>
					</div>
				</td>
				</tr>
			</table>
		
			<div class="number">7. Home Address 1<span class="star">*</span></div>
			<input class="input" type="text" name="homeone"  size="38" maxlength="38" required [(ngModel)]="model.address" #address="ngModel">
			<div class="usernotify">Street address, City, State and Zip code</div>
			<div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert">
					<div *ngIf="address.errors.required">Home address is required.</div>
					<div *ngIf="address.errors.maxlength">Home address should not exceed 38 characteristics.</div>
			</div>

			<div class="number">8. Home Address 2</div>
			<input class="input" type="text" name="hometwo"  size="38" maxlength="38">
			<div class="usernotify">Apt., Floor, Unit etc. </div>

		<div class="continue">
		<table class="buttons">
			<tr>
				<td>
					<button id="continuebutton" type="submit" [disabled]="!formData.valid" >Continue</button><br>
				</td>
				<td id="string">|</td>
				<td id="cancel">Cancel</td>
		</table>
		</div>
		</div>
	</form>
	</div>
</div>