#upsection {
    background: url('/assets/images/lending.png');
    background-repeat: no-repeat;
    background-size: 100% 50vw;
    height: 50vw;

    .account-summary {
      margin:3vh 0;
    }
    .accounts {
      margin:2vh 0;
      img {
        height:22vh;
        width:85%;
        margin:2vh 0;
      }
    }

    #person {
        //margin-top: 5%;
        //margin-left: 5%;
    }
    #person:hover {
        transform: translate(-5px, -5px);
    }
    #checking {
        height: 160px;
    }
    #checking:hover {
        transform: translate(-5px, -5px);
    }
    #saving1 {
        height: 160px;
        margin-left: 155px;
    }
    #saving1:hover {
        height: 160px;
        margin-left: 155px;
        transform: translate(-5px, -5px);
    }
    #lending {
        height: 160px;
    }
    #lending:hover {
        height: 160px;
        transform: translate(-5px, -5px);
    }
    #saving2 {
        height: 160px;
        margin-left: 155px;
    }
    #row1 {
        margin-top: 10px;
        margin-left: 110px;
    }
    #row2 {
        margin-top: 10px;
        margin-left: 110px;
    }
}

#downsection {
    .col {
      padding:2.5% 10%
    }
    #upcoming {
        width: 100%;
        //margin-left: 95px;
        //margin-top: 2vh;
    }
    #past {
        width: 100%;
        //margin-left: 95px;
        //margin-top: 4vh;
    }
}
