.container {
    width: 100%;
    height: 100%;
    border: solid 2px #b79344;
    border-radius: 10px;
    .header {
        width: 100%;
        height: 7vh;
        background-color: #ababab;
        opacity: 0.8;
    }
    .buttons-group {
        width: 100%;
        height: 10vh;
        // background-color: black;
        padding-left: 2vw;
    }
    .button {
        width: 30%;
        height: 8vh;
        // background-color: #b79344;
        float: left;
        margin: 2vh 1vw 2vh 1vw;
        border: solid 3px #b79344;
        border-radius: 10px;
        text-align: center;
        padding-top: 1vh;
        span {
            font-size: 2vw;
            font-weight: bold;
            color: #b79344;
        }
        transition: background-color 0.5s;
    }
    .button:hover {
        background-color: #b79344;
        span {
            color: white;
        }
    }
    .selection {
        width: 100%;
        height: 8vh;
        // background-color: black;
        img {
            width: 5vw;
            height: 4vh;
            margin-left: 78%;
            transition: 0.5s;
        }
        img:hover {
            transform: translate(0px, -10px);
        }
    }
    .background {
        width: 95%;
        height: 60vh;
        margin: 0 auto;
        img {
            width: 100%;
            height: 57vh;
        }
    }
    .title {
        width: 95%;
        height: 8vh;
        border-radius: 10px 10px 0px 0px;
        background-color: #b79344;
        margin: 0 auto;
        padding-top: 1vh;
        span {
            font-size: 4vh;
            color: white;
            font-weight: bold;
            margin-left: 2vw;
        }
    }
    .step {
        width: 95%;
        height: 8vh;
        margin: 0 auto;
        background-color: #bdbaba;
        padding-top: 2vh;
        padding-left: 2vw;
        span {
            color: white;
            font-size: 3vh;
            font-weight: bold;
        }
    }
    .account {
        table {
            table-layout: fixed;
            width: 50%;
            .alert {
                color: red;
                font-weight: bold;
                font-size: 2.5vh;
            }
        }
        width: 95%;
        height: 12vh;
        margin: 2vh auto;
        // background-color: black;
        padding: 2vh 2vw;
        label {
            font-size: 3vh;
            font-weight: bold;
            color: black;
            padding-left: 2vw;
            //float: left
            display: inline-block;
        }
        span {
            color: red;
            font-size: 3vh;
            padding-left: 1vw;
            //float: left
            display: inline-block;
        }
        select {
            display: inherit !important;
            // float: left !important;
            padding: 8px !important;
            // padding-left: 2vw !important;
            padding-right: 13px !important;
            font-size: 1.3em !important;
            border: 1.5px solid #bbbbbb !important;
            background-color: #fff !important;
            color: #b79344 !important;
            width: 520px !important;
            height: 42px !important;
            border-radius: 0 !important;
            margin-left: 1vw;
        }
        select:focus {
            outline: none !important;
            border: 1.5px solid #b79344 !important;
            box-shadow: 0 0 10px #DDDDDD !important;
        }
        input {
            display: inline-block !important;
            // float: left !important;
            padding: 8px !important;
            // padding-left: 2vw !important;
            padding-right: 13px !important;
            font-size: 1.3em !important;
            border: 1.5px solid #bbbbbb !important;
            background-color: #fff !important;
            color: #b79344 !important;
            width: 500px !important;
            height: 26px !important;
            border-radius: 5px !important;
            margin-left: 1vw;
        }
        input:focus {
            outline: none !important;
            border: 1.5px solid #b79344 !important;
            box-shadow: 0 0 10px #DDDDDD !important;
        }
    }
    .addcontact {
        width: 95%;
        height: 10vh;
        // background-color: gray;
        margin: 0 auto;
        padding-left: 4vw;
        .question {
            display: inline-block;
            font-size: 3vh;
            font-weight: bold;
            margin-right: 3vw;
        }
        button {
            width: 15vw;
            height: 6vh;
            color: #b79344;
            font-size: 3vh;
            font-weight: bold;
            background-color: white !important;
            border-radius: 10px;
            border: 2px solid #b79344;
            transition: 0.5s;
        }
        button:hover {
            color: white;
            background-color: #b79344 !important;
        }
    }
    .addcontactform {
        width: 95%;
        height: 100vh;
        // background-color: gray;
        margin: 0 auto;
        label {
            font-size: 3vh;
            font-weight: bold;
            color: black;
            padding-left: 2vw;
            //float: left
            display: inline-block;
        }
        span {
            color: red;
            font-size: 3vh;
            padding-left: 1vw;
            //float: left
            display: inline-block;
        }
        select {
            display: inherit !important;
            // float: left !important;
            padding: 8px !important;
            // padding-left: 2vw !important;
            padding-right: 13px !important;
            font-size: 1.3em !important;
            border: 1.5px solid #bbbbbb !important;
            background-color: #fff !important;
            color: #b79344 !important;
            width: 520px !important;
            height: 42px !important;
            border-radius: 0 !important;
            margin-left: 1vw;
        }
        select:focus {
            outline: none !important;
            border: 1.5px solid #b79344 !important;
            box-shadow: 0 0 10px #DDDDDD !important;
        }
        .accounthelp {
            padding-left: 2vw;
            img {
                width: 50%;
                height: 50%;
            }
        }
        .arrowsection {
            .arrowleft {
                width: 4vw;
                height: 6vw;
                margin-left: 8vw;
            }
            .arrowright {
                width: 4vw;
                height: 6vw;
                margin-left: 20vw;
            }
        }
        input {
            display: inline-block !important;
            // float: left !important;
            padding: 8px !important;
            // padding-left: 2vw !important;
            padding-right: 13px !important;
            font-size: 1.3em !important;
            border: 1.5px solid #bbbbbb !important;
            background-color: #fff !important;
            color: #b79344 !important;
            width: 220px !important;
            height: 24px !important;
            border-radius: 5px !important;
            margin-left: 1vw;
        }
        input:focus {
            outline: none !important;
            border: 1.5px solid #b79344 !important;
            box-shadow: 0 0 10px #DDDDDD !important;
        }
        .bottomtable {
            width: 70% !important;
        }
        .buttons {
            width: 50%;
            // margin-left: 2vw;
            button {
                width: 15vw;
                height: 6vh;
                margin-left: 2vw;
                color: #b79344;
                font-size: 3vh;
                font-weight: bold;
                background-color: white !important;
                border-radius: 10px;
                border: 2px solid #b79344;
                transition: 0.5s;
            }
            button:hover {
                color: white;
                background-color: #b79344 !important;
            }
        }
    }
    .note {
        width: 95%;
        height: 35vh;
        margin: 0 auto;
        // background-color: gray;
        padding: 2vh 2vw 2vh 2vw;
        .notetitle {
            font-size: 3vh;
            font-weight: bold;
        }
        textarea {
            font-size: 3vh;
            height: 20vh;
            border-radius: 10px;
            border: 2px solid #bbbbbb;
        }
        textarea:focus {
            outline: none !important;
            border: 1.5px solid #b79344 !important;
            box-shadow: 0 0 10px #DDDDDD !important;
        }
        .count {
            float: right;
            font-size: 3vh;
        }
    }
    .bottom-buttons {
        width: 50%;
        height: 10vh;
        margin: 0vh auto;
        // background-color: black;
        padding-left: 5vw;
        // margin-top: 15vh;
        .bottom-button {
            text-align: center;
            width: 38%;
            height: 6vh;
            border: solid 2px #b79344;
            border-radius: 10px;
            padding-top: 0.5vh;
            transition: background-color 0.5s;
            display: inline-block;
            span {
                color: #b79344;
                font-size: 3vh;
                font-weight: bold;
            }
        }
        .bottom-button:hover {
            background-color: #b79344;
            span {
                color: white;
            }
        }
        button {
            display: inline-block;
            width: 45%;
            height: 6vh;
            border: solid 2px #b79344;
            border-radius: 10px;
            color: #b79344;
            font-size: 3vh;
            font-weight: bold;
            transition: background-color 0.5s;
            margin-left: 2vw;
        }
        button:hover {
            background-color: #b79344;
            color: white;
        }
        button:focus {
            background-color: #b79344 !important;
            color: white !important;
        }
    }
}

#confirmbutton:disabled {
    background-color: #dddddd !important;
    color: #646464;
    border: solid 2px gray;
}