<div class="container">
    <div class="header"></div>
    <div class="buttons-group">
        <a href="transfer-fund/internal-transfer">
            <div class="button"><span>Internal Transfer</span></div>
        </a>
        <a href="transfer-fund/check-deposit">
            <div class="button"><span>Check Deposit</span></div>
        </a>
        <a href="transfer-fund/pay-others">
            <div class="button"><span>Pay Other People</span></div>
        </a>
    </div>
    <div class="selection">
        <img src="assets/images/arrow.png">
    </div>
    <div class="background">
        <img src="assets/images/pay-others.png">
    </div>
</div>