<div class="container">
    <div>
        <img class="b-image" src="assets/images/tf-dashboard.jpg">
        <div class="title">Transfer Fund is Easy with Devonshire</div>
    </div>
    <div>
        <a href="transfer-fund/internal-transfer">
            <div class="board">
                <img class="icon" src="assets/images/internal-transfer-icon.png">
                <div class="desc">Transfer Money Between Your Accounts in Devonshire</div>
            </div>
        </a>
        <a href="transfer-fund/check-deposit">
            <div class="board adjust1">
                <img class="icon" src="assets/images/check-deposit-icon.png">
                <div class="desc">Deposit Your check Is Easy With Only A Photo</div>
            </div>
        </a>
        <a href="transfer-fund/pay-others">
            <div class="board adjust2">
                <img class="icon" src="assets/images/pay-others-icon.png">
                <div class="desc">Send Money To The People You Know</div>
            </div>
        </a>
    </div>
</div>