<div>
    <div class="container">
        <img class="b-image" src="assets/images/tf-dashboard.jpg">
        <div class="title">Transfer Fund is Easy with Devonshire</div>
    </div>
    <div class="container">
        <a href="transfer-fund/internal-transfer">
            <div class="board">

            </div>
        </a>
        <a href="transfer-fund/check-deposit">
            <div class="board">

            </div>
        </a>
        <a href="transfer-fund/pay-others">
            <div class="board">

            </div>
        </a>
    </div>
</div>