<div class="container">
	<div class="header">
	</div>
	<div class="content">
		<div class="title">Online Banking Setup: Step 4</div>
		<div class="steps">
			<div class="step done">
       			Personal Information
    		</div>
    		<div class="step done">
        		Security Questions
    		</div>
    		<div class="step done">
        		Terms and Conditions
    		</div>
     		<div class="step done">
        		Review
    		</div>
		</div>
		<div class="image">
			<img src="assets/images/enrollimage5.jpg" width=100% height=200px alt="Image">
		</div>
		<div class="table">Review</div>
		<form method="get">
		<div class="form">
			
				<div class="notify">Please review your enrollment information.Once you have enrolled, you can make changes to your profile in the Settings and Support section of Online Banking.</div>
				<hr>
				<table  class="tablepanel">
  					<tr>
   						<td class="label"><label>Email Address:</label></td>
    					<td class="selections">
    						team8@andrew.cmu.edu
    					</td>
  					</tr>

  					<tr>
   						<td class="label"><label>Password:</label></td>
    					<td class="selections">
    						.........
    					</td>
 					</tr>

					 <tr>
						<td class="label"><label>Account Number:</label></td>
					 <td class="selections">
						 1000000000
					 </td>
				  </tr>

  					<tr>
   						<td class="label"><label>Full Name:</label></td>
    					<td class="selections">
    						Best Team8
    					</td>
 					</tr>
					 

				  <tr>
					<td class="label"><label>Phone Number:</label></td>
				 <td class="selections">
					 4128888888
				 </td>
			  </tr>

			  <tr>
				<td class="label"><label>Home Address:</label></td>
			 <td class="selections">
				5000 Forbes Avenue,Pittsburgh,PA,15213
			 </td>
		  </tr>

 					<tr>
   						<td class="label"><label>Security Question 1:</label></td>
    					<td class="selections">
    						In what city or town did your mother and father meet?
    					</td>
 					</tr>
 					<tr>
   						<td class="label"><label>Security Question 2:</label></td>
    					<td class="selections">
    						When is your youngest sibling's birthday (MM/DD)?
    					</td>
 					</tr>
 			
 					<tr>
   						<td class="label"><label>Security Question 3:</label></td>
    					<td class="selections">
    						What is your grand father's first name?
    					</td>
					 </tr>
					 
					 <tr>
						<td class="label"><label>Terms and agreements:</label></td>
					 <td class="selections">
						 I agree with the terms and agreement.
					 </td>
				  </tr>

				</table>
				<hr>

		</div>

		<div class="tablepanel">
		<table class="buttons">
			<tr>
				<td><a routerLink="/three" routerLinkActive="active" class="alc"><button class="buttonscolor" type="button" >Back</button></a></td>
				<td><a routerLink="/four" routerLinkActive="active" class="alc"><button class="buttonscolor" type="submit">Submit</button></a></td>
				<td id="string">|</td>
				<td id="cancel">Cancel</td>
		</table>
	</div>
		</form>

	</div>
</div>