<div class="container">
    <div class="header"></div>
    <div class="buttons-group">
        <a href="transfer-fund/internal-transfer">
            <div class="button"><span>Internal Transfer</span></div>
        </a>
        <a href="transfer-fund/check-deposit">
            <div class="button"><span>Check Deposit</span></div>
        </a>
        <a href="transfer-fund/pay-others">
            <div class="button"><span>Pay Other People</span></div>
        </a>
    </div>
    <div class="selection">
        <img src="assets/images/arrow.png">
    </div>
    <div class="background">
        <img src="assets/images/internal-transfer.jpg">
    </div>
    <form>
        <div class="title">
            <span>Schedule A Transfer</span>
        </div>
        <div class="step">
            <span>Step 1: Select A From Account</span>
        </div>
        <div class="account">
            <table>
                <tr>
                    <td><label>From Account:</label><span>*</span></td>
                    <td>
                        <select>
                          <option disabled selected>Select An Account</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="step">
            <span>Step 2: Select A To Account</span>
        </div>
        <div class="account">
            <table>
                <tr>
                    <td><label>To Account:</label><span>*</span></td>
                    <td>
                        <select>
                          <option disabled selected>Select An Account</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="step">
            <span>Step 3: Enter Transfer Options</span>
        </div>
        <div class="account">
            <table>
                <tr>
                    <td><label>Amount:</label><span>*</span></td>
                    <td>
                        <input type="text" placeholder="$ 300.00">
                    </td>
                </tr>
                <tr>
                    <td><label>Date:</label><span>*</span></td>
                    <td>
                        <input type="date">
                    </td>
                </tr>
            </table>
        </div>
        <div class="bottom-buttons">
            <a href="transfer-fund/dashboard">
                <div class="bottom-button"><span>Cancel</span></div>
            </a>
            <input type="submit" value="Confirm Transfer">
        </div>
    </form>
</div>