<div class="container">
  <div class="header"></div>
  <div class="buttons-group">
    <a href="transfer-fund/internal-transfer">
      <div class="button"><span>Internal Transfer</span></div>
    </a>
    <a href="transfer-fund/check-deposit">
      <div class="button"><span>Check Deposit</span></div>
    </a>
    <a href="transfer-fund/pay-others">
      <div class="button"><span>Pay Other People</span></div>
    </a>
  </div>
  <div class="selection">
    <img src="assets/images/arrow.png">
  </div>
  <div class="background">
    <img src="assets/images/internal-transfer.jpg">
  </div>
  <form (ngSubmit)="onSubmit()" #tForm="ngForm">
    <div class="title">
      <span>Schedule A Transfer</span>
    </div>
    <div class="step">
      <span>Step 1: Select A From Account</span>
    </div>
    <div class="account">
      <table>
        <tr>
          <td><label>From Account:</label><span>*</span></td>
          <td>
            <select id="fromAccount" required [(ngModel)]="model.fromAccountNumber" name="fromAccountNumber">
              <option disabled selected>Select An Account</option>
              <option *ngFor="let account of accounts" [value]="account.accountNumber">{{account.accountNumber}}
                {{account.accountType}} Acct balance: $ {{account.balance}}
              </option>
            </select>
          </td>
        </tr>
      </table>
    </div>
    <div class="step">
      <span>Step 2: Select A To Account</span>
    </div>
    <div class="account">
      <table>
        <tr>
          <td><label>To Account:</label><span>*</span></td>
          <td>
            <select id="toAccount" required [(ngModel)]="model.toAccountNumber" name="toAccountNumber">
              <option disabled selected>Select An Account</option>
              <option *ngFor="let account of accounts" [value]="account.accountNumber">{{account.accountNumber}}
                {{account.accountType}} Acct balance: $ {{account.balance}}
              </option>
            </select>
            <div *ngIf="checkSame()" class="alert">You cannot choose the same account!</div>
          </td>
        </tr>
      </table>
    </div>
    <div class="step">
      <span>Step 3: Enter Transfer Options</span>
    </div>
    <div class="account">
      <table>
        <tr>
          <td><label>Amount:</label><span>*</span></td>
          <td>
            <input type="number" placeholder="$ 300.00" id="amount" required [(ngModel)]="model.amount" name="amount"
                   #amount="ngModel">
            <div [hidden]="amount.valid || amount.pristine" class="alert">Amount is required!</div>
            <div [hidden]="amount.pristine || amount != 0">Amount cannot be zero!</div>
          </td>
        </tr>
        <tr>
          <td><label>Date:</label><span>*</span></td>
          <td>
            <input type="date" id="date" required [(ngModel)]="model.date" name="date" #date="ngModel">
            <div [hidden]="date.valid || date.pristine" class="alert">Date is required!</div>
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="successMessage || errorMessage" class=messageArea>
      <div class="successArea">{{successMessage}}</div>
      <div class="errorArea">{{errorMessage}}</div>
    </div>
    <div class="bottom-buttons">
      <a href="transfer-fund/dashboard">
        <div class="bottom-button"><span>Cancel</span></div>
      </a>
      <button type="submit" id="confirmbutton" [disabled]="!tForm.valid || checkSame()">Confirm Transfer</button>
    </div>
  </form>
</div>
