<dl-header></dl-header>
<!-- <div style="text-align:center">
    <h1>
        Welcome to {{title}}!
    </h1>
</div>
<ul>
    <li><a routerLink="login">Log In</a></li>
    <li><a routerLink="register">Register</a></li>
    <li><a routerLink="welcome-page">Welcome-Page</a></li>
</ul> -->
<!-- <page-welcome></page-welcome>
<page-login></page-login> -->

<!-- <router-outlet></router-outlet> -->
<!-- only for demonstration purpose -->
<!-- <section class="login-section"></section>
<section class="product-section"></section> -->
<router-outlet></router-outlet>
<dl-footer></dl-footer>