<!--The content below is only a placeholder and can be replaced.-->
<dl-header></dl-header>
<!-- <div style="text-align:center">
    <h1>
        Welcome to {{title}}!
    </h1>
</div>
<ul>
    <li><a routerLink="login">Log In</a></li>
    <li><a routerLink="register">Register</a></li>
    <li><a routerLink="welcome-page">Welcome-Page</a></li>
</ul> -->
<!-- <page-welcome></page-welcome>
<page-login></page-login> -->

<!-- <router-outlet></router-outlet> -->
<!-- only for demonstration purpose -->
<section class="login-section">
  <!--<img class="background-img" src="assets/images/lending.jpg">-->
  <!--<div class="row">-->
    <!--<div class="col s6">-->

    <!--</div>-->
    <!--<div class="col s6">-->
      <!---->
    <!--</div>-->
  <!--</div>-->
  <div class="video-overlay"></div>

  <video class="center-block" autoplay loop muted>
    <source src="assets/video/dl-obs.webm" type="video/webm">
    <source src="assets/video/dl-obs.mp4" type="video/mp4">
    <!--[if lt IE 9]>
    <img src="" class="">
    <![endif]-->
  </video>
  <div class="slogan-text">
    <h1>We do loan right.</h1>
    <h5>Just apply and we will take care of it.</h5>
  </div>
  <div class="login-form">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <input type="checkbox" id="remember">
          <label for="remember">Remember Me</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button class="btn waves-effect waves-light s12">Sign in</button>
        </div>
      </div>
    </form>
    <div class="center-align">
      <a href="#">Forgot username/password? ></a>
      <br>
      <a href="#">Not enrolled? Sign up now. ></a>
    </div>
  </div>
</section>
<br>
<div class="line"></div>
<br>
<section class="product-section">
  <div class="row">
    <div class="col s12">
      <div class="card horizontal hoverable">
        <div class="card-image">
          <img src="assets/images/auto-loan.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4>Let us hep you get on the road</h4>
            <p>Take a few minutes to apply online to get your loan approved before you go to the dealer.
              You are just a few steps away from your new car.</p>
          </div>
          <div class="card-action center-align">
            <button class="btn waves-light waves-effect s12">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="line"></div>
  <br>
  <div class="row">
    <div class="col s12">
      <div class="card horizontal hoverable">
        <div class="card-image">
          <img src="assets/images/mortgage2.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4>Making a home change?</h4>
            <p>Start a relationship with a Home Lending Advisor to personalize a plan that's right for you.</p>
          </div>
          <div class="card-action center-align">
            <button class="btn waves-light waves-effect s12">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="line"></div>
  <br>
  <div class="row">
    <div class="col s12">
      <div class="card horizontal hoverable">
        <div class="card-image">
          <img src="assets/images/home-equity.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4>Tap into your home's equity</h4>
            <p>Help finance what's important with a home equity line of credit.</p>
          </div>
          <div class="card-action center-align">
            <button class="btn waves-light waves-effect s12">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="line"></div>
  <br>
  <div class="row">
    <div class="col s12">
      <div class="card horizontal hoverable">
        <div class="card-image">
          <img src="assets/images/dl-mobile.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4>Devonshire Mobile Banking</h4>
            <p>The Latest mobile banking app built around you. It's simple, rewarding, and secure.</p>
          </div>
          <div class="card-action center-align">
            <button class="btn waves-light waves-effect s12">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<dl-footer></dl-footer>
