#followus {
    text-align: center;
    font-size: 20px;
    color: #b79344;
    font-family: 'Noto Sans', sans-serif;
}

#line {
    width: 1300px;
    background-color: #b79344;
    height: 2px;
    margin: 2px auto;
}

#buttons {
    width: 400px;
    margin-top: 5px;
    margin-left: 535px;
}

.sharebutton {
    width: 40px;
}

#bottom {
    background-color: #b79344;
    height: 400px;
    margin-top: 5px;
}

#bottom-table {
    padding-top: 50px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    width: 1000px;
    text-align: left;
    margin-left: 20px;
}

#bottom-table th {
    font-size: 25px;
    padding-bottom: 15px;
}

#bottom-table td {
    font-size: 20px;
    padding-top: 30px;
}