<div>
    <div id="followus">Follow us</div>
    <div id="line"></div>
    <div id="buttons">
        <a href=""><img class="sharebutton" src="assets/facebook.png" alt="facebook"></a>
        <a href=""><img class="sharebutton" src="assets/twitter.png" alt="twitter"></a>
        <a href=""><img class="sharebutton" src="assets/googleplus.png" alt="googleplus"></a>
        <a href=""><img class="sharebutton" src="assets/instagram.png" alt="googleplus"></a>
        <a href=""><img class="sharebutton" src="assets/youtube.png" alt="googleplus"></a>
        <a href=""><img class="sharebutton" src="assets/linkedin.png" alt="googleplus"></a>
        <a href=""><img class="sharebutton" src="assets/pinterest.png" alt="googleplus"></a>
    </div>
</div>
<div id="bottom">
    <table id="bottom-table">
        <tr>
            <th>Why Devonshire</th>
            <th>Rates</th>
            <th>Help & Support</th>
        </tr>
        <tr>
            <td>Our Story</td>
            <td>Personal Banking</td>
            <td>Contact Us</td>
        </tr>
        <tr>
            <td>Careers</td>
            <td>Mortgage</td>
            <td>Help & FAQs</td>
        </tr>
        <tr>
            <td>Benefits & Services</td>
            <td>Home Equity</td>
        </tr>
        <tr>
            <td>Rewards</td>
            <td>Auto Loan</td>
        </tr>
        <tr>
            <td>Special Offers</td>
            <td>Other Lending</td>
        </tr>
    </table>

</div>