#followus {
    text-align: center;
    font-size: 20px;
    color: #b79344;
    font-family: 'Noto Sans', sans-serif;
}

#line {
    width: 1300px;
    background-color: #b79344;
    height: 2px;
    margin: 2px auto;
}

#buttons {
    width: 400px;
    margin-top: 5px;
    margin-left: 535px;
}

.sharebutton {
    width: 40px;
}

#bottom {
    background-color: #b79344;
    height: 400px;
    margin-top: 5px;
}

#bottom-table {
    padding-top: 50px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    width: 900px;
    text-align: left;
    margin-left: 50px;
    float: left;
}

#bottom-table th {
    font-size: 25px;
    padding-bottom: 10px;
    padding-right: 120px;
}

#bottom-table td {
    font-size: 18px;
    padding-top: 30px;
}

#locationPanel {
    width: 340px;
    height: 275px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    float: left;
    margin-top: 50px;
}

#locationForm {
    padding: 30px 0px;
}

#locationForm label {
    font-size: 27px;
    font-family: 'Noto Sans', sans-serif;
    color: #b79344;
    margin-top: 30px;
}

#locationForm input[type=text] {
    margin-top: 20px;
    font-size: 25px;
    color: black;
    background-color: rgb(243, 241, 241);
    height: 70px;
    border-radius: 5px;
    padding-left: 20px;
    border: 1px solid black;
}

#locationForm input[type=submit] {
    margin-top: 30px;
    font-size: 20px;
    color: white;
    background-color: #b79344;
    width: 270px;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
}