<div>
    <div id="followus">Follow us</div>
    <div id="line"></div>
    <div id="buttons">
        <a href=""><img class="sharebutton" src="assets/facebook.png" alt="facebook"></a>
        <a href=""><img class="sharebutton" src="assets/twitter.png" alt="twitter"></a>
        <a href=""><img class="sharebutton" src="assets/googleplus.png" alt="googleplus"></a>
        <a href=""><img class="sharebutton" src="assets/instagram.png" alt="googleplus"></a>
        <a href=""><img class="sharebutton" src="assets/youtube.png" alt="googleplus"></a>
        <a href=""><img class="sharebutton" src="assets/linkedin.png" alt="googleplus"></a>
        <a href=""><img class="sharebutton" src="assets/pinterest.png" alt="googleplus"></a>
    </div>
</div>
<div id="bottom">
    <table id="bottom-table">
        <tr>
            <th>Why Devonshire</th>
            <th>Rates</th>
            <th>Help & Support</th>
        </tr>
        <tr>
            <td>Our Story</td>
            <td>Personal Banking</td>
            <td>Contact Us</td>
        </tr>
        <tr>
            <td>Careers</td>
            <td>Mortgage</td>
            <td>Help & FAQs</td>
        </tr>
        <tr>
            <td>Benefits & Services</td>
            <td>Home Equity</td>
        </tr>
        <tr>
            <td>Rewards</td>
            <td>Auto Loan</td>
        </tr>
        <tr>
            <td>Special Offers</td>
            <td>Other Lending</td>
        </tr>
    </table>
    <div id="locationPanel">
        <div id="locationForm">
            <label>ATM/Branch Locations</label>
            <input type="text" placeholder="Enter Address"><br>
            <input type="submit" value="Find Locations" [@state]="state" (click)="toggleState()">
        </div>
    </div>
</div>
<div id="bottomDescription">
    <p>“Devonshire,” “Devonshire Lending” “Devonshire Lending LLC,” the Devonshire Lending logo and the Lion Symbol are trademarks of Devonshire Lending LLC. </p>
    <p>Investing involves market risk, including possible loss of principal, and there is no guarantee that investment objectives will be achieved.</p>
    <p>Devonshire Lending LLC and its affiliates (collectively “DL”) offer investment products, which may include bank managed accounts and custody, as part of its trust and fiduciary services. Other investment products and services, such as brokerage and
        advisory accounts, are offered through Devonshire Lending LLC (DL). Annuities are made available through Devonshire Insurance Agency, Inc. (DIA), a licensed insurance agency, doing business as Devonshire Insurance Agency Services, Inc. in Florida.
        DL and DIA are affiliated companies under the common control of Devonshire Lending LLC Products not available in all states.</p>
    <p>© 2017 Devonshire Lending LLC</p>
</div>