<div class="social-media">
    <div class="followus">Follow us</div>
    <div class="line"></div>
    <div class="social-buttons center-align">
        <a href=""><img class="sharebutton" src="assets/images/facebook.png" alt="facebook"></a>
        <a href=""><img class="sharebutton" src="assets/images/twitter.png" alt="twitter"></a>
        <a href=""><img class="sharebutton" src="assets/images/googleplus.png" alt="googleplus"></a>
        <a href=""><img class="sharebutton" src="assets/images/instagram.png" alt="instagram"></a>
        <a href=""><img class="sharebutton" src="assets/images/youtube.png" alt="youtube"></a>
        <a href=""><img class="sharebutton" src="assets/images/linkedin.png" alt="linkedin"></a>
        <a href=""><img class="sharebutton" src="assets/images/pinterest.png" alt="pinterest"></a>
    </div>
</div>
<div class="bottom">
    <table class="bottom-table">
        <tr>
            <th>Why Devonshire</th>
            <th>Rates</th>
            <th>Help & Support</th>
        </tr>
        <tr>
          <td><a href="#">Our Story</a></td>
          <td><a href="#">Personal Banking</a></td>
          <td><a href="#">Contact Us</a></td>
        </tr>
        <tr>
          <td><a href="#">Careers</a></td>
          <td><a href="#">Mortgage</a></td>
          <td><a href="#">Help & FAQs</a></td>
        </tr>
        <tr>
          <td><a href="#">Benefits & Services</a></td>
          <td><a href="#">Home Equity</a></td>
        </tr>
        <tr>
          <td><a href="#">Rewards</a></td>
          <td><a href="#">Auto Loan</a></td>
        </tr>
        <tr>
          <td><a href="#">Special Offers</a></td>
          <td><a href="#">Other Lending</a></td>
        </tr>
      <tr>

      </tr>
    </table>
    <div class="location-panel">
        <div class="location-form">
            <label>ATM/Branch Locations</label>
            <input type="text" placeholder="Enter Address"><br>
            <input type="submit" value="Find Locations">
        </div>
    </div>
</div>
